<div class="container">
  <h1 class="header"><%= link_to 'Space Goats', welcome_index_path %></h1>

  <div class="sidebar">
    <div class="login_info">
      <% if session[:current_character_id] %>
      <div class="logged_in_portrait">
        <h2><%= @character.name %></h2>
        <img class="character_portrait" src="<%= @character.portrait %>">
      </div>
      <%= link_to '[New Video]', new_youtube_path %>
      <%= link_to '[Logut]', logout_path %>
      <% else %>
      <%= link_to '[Login]', '/auth/bnet' %>
      <% end %>
    </div>

    <div class="character_roster">
      <h3>&lt;<%= Rails.configuration.wow['guild'] %>&gt;</h3>
      <table>
      <% @characters.each do | character | %>
        <tr>
          <td><%= character.name %></td>
          <td><%= character.ilvl %></td>
          <td><img src="<%= character.portrait %>"></td>
        </tr>
      <% end %>
      </table>
    </div>

    <div class="current_bosses">
      <h3>Patch <%= @patch %></h3>
      <table>
      <% @bosses.each do | boss | %>
        <tr>
          <td><%= boss.name %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>

  <div class="main-content">
  <% @youtubes.each do | youtube | %>
    <div class="video">
      <a class="video_link" href="https://www.youtube.com/watch?v=<%=youtube.link%>">
        <div class="thumbnail" style="background-image:url('https://img.youtube.com/vi/<%=youtube.link%>/hqdefault.jpg')">
            <img class="play_button" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/YouTube_light_logo_%282017%29.svg/512px-YouTube_light_logo_%282017%29.svg.png">
            <h1 class="description"><%=youtube.boss.name%></h1>
            <span class="description">[<%=youtube.character.name%>]</span>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>
